/*********** CSS file for index.html - Portfolio Page **********/

body {
    
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
    color: rgb(66, 195, 255); /* Change the color */
}

h4 {
    font-size: 28px;
}

header {
    padding: 78px;
}

footer {
    padding:20px;
    text-align: center;
    background-color: rgb(52, 4, 92);
    color: rgb(208, 246, 255);
}


/* Header class */
.header {
    font-family: 'Quicksand', bold, sans-serif;
    color: rgb(188, 243, 237);
    /*background-color: #008F95; /*aqua*/
    text-align: center;
}

/* space between header and content*/
.content {
    padding: 80px; 
}

/*colored border box of paragraph in the header */
.border {
    box-sizing: border-box;
    border-style: none;
    padding: 12px;
    background-color:  purple;
    /*opacity:0.4*/
}

/*effects of image */
.photo {
    background:none;
    filter: grayscale(100%);
    border:5px solid purple;
}

/*image changes when user hovers over it */
.photo:hover {
    background-color: rgb(128, 16, 40);
    opacity:0.7 !important;
    filter: none; /*alpha(opacity=70) !important;  For IE8 and earlier - main code from:  https://css-tricks.com/apply-a-filter-to-a-background-image/*/
    box-shadow: 0 0 0px #000000 !important;
}

.img-fluid {
    max-width: 100%; /*to make images fluid/responsive*/
}

/*floats*/
.left {
    float: left;
}
.right {
    float: right;
}
 
/* Overrides header class with font-family and color */
.override {
    font-family: 'Montserrat', sans-serif;
    color: rgb(214, 250, 156);
    font-size: 12px;
}


/* formatting Bootstraps navbar to not have space between header and navbar*/
.navbar {
    margin-bottom: 0;
}

/*eliminate rounded corners in navbar*/
.navbar-inverse {
    border-radius: 0;
}

/*hamburger has a border*/
.navbar-toggle {
    border: solid purple;
}
/*hamburger stack has color*/
.icon-bar {
    border: solid purple;
}

a.active {
    color:purple;
}

/* ID's*/
/* gradient for header box */
#gradient {
    height: 200px;
    background-color:#008F95; /* Aqua - For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #008F95,/*aqua*/ rgb(162, 201, 247)); /* Standard syntax (must be last) */
}

/*for h1 tag - changes color of text color: rgb(201, 253, 204); */
#small {
    color: rgb(201, 253, 204);
}

/* media query's */
  /*  https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px)  {
    ul {
        list-style: none; /* Remove default bullets */
      }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    h1 {
        font-size: 50px;
      }
     
  
}
    /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .photo {
        background-color: rgb(128, 16, 40);
        opacity:0.7 !important;
        filter: none; /*alpha(opacity=70) !important;  For IE8 and earlier - main code from:  https://css-tricks.com/apply-a-filter-to-a-background-image/*/
        box-shadow: 0 0 0px #000000 !important;
    }

    h3 {
        color: rgb(66, 195, 255); /* Change the color */
    }
    br {
        display: none;
        }
        .photo {
            background-color: rgb(128, 16, 40);
            opacity:0.7 !important;
            filter: none; /*alpha(opacity=70) !important;  For IE8 and earlier - main code from:  https://css-tricks.com/apply-a-filter-to-a-background-image/*/
            box-shadow: 0 0 0px #000000 !important;
        }
  }

/* 
    ##Device = Some Smartphones Mobiles/tablets (Portrait)
    ##Screen = B/w 4810px to 690px
  */
  @media (min-width: 480px) and (max-width: 700px) {
    h1 {
        font-size: 38px;
        color: darkslategray;
      }
      #small{
          font-size:22px;
      }
      .photo {
        background-color: rgb(128, 16, 40);
        opacity:0.7 !important;
        filter: none; /*alpha(opacity=70) !important;  For IE8 and earlier - main code from:  https://css-tricks.com/apply-a-filter-to-a-background-image/*/
        box-shadow: 0 0 0px #000000 !important;
    }

  }


  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 35px;
        color: darkslategray;
      }
      #small{
          font-size:20px;
      }
      .border {
          border-style: solid;
          border-color: skyblue;
          width: 100%;
          padding: 7px;
          background-color: white;
          opacity:0.9;
      }
      .override {
        font-family: 'Montserrat', sans-serif;
        color: purple;
        font-size: 12px;
    }

      p {
          font-size: 18px;
      }
      h3 {
         color:purple;
          text-align:center;
          font-size: 22px;
      }
      h4 {
         color:purple;
          font-size: 22px;
      }
      br {
        display: none;
        }
        .photo {
            background-color: rgb(128, 16, 40);
            opacity:0.7 !important;
            filter: none; /*alpha(opacity=70) !important;  For IE8 and earlier - main code from:  https://css-tricks.com/apply-a-filter-to-a-background-image/*/
            box-shadow: 0 0 0px #000000 !important;
        }
    }


/*screen.height;
900
screen.width;
1440
*/
/* old CSS rules
.column {
    float: left;
    width: 33.33%;
  }
*/

/*Clear floats after the columns 
.row:after {
    content: "";
    display: table;
    clear: both;
}*/